:root {
	/*image cafi 1 2*/
	--cafi1:#FAF7F4;
	--cafi2:#F4EFEA;
	--cafi3:#EFE7DF;
	--cafi4:#E9DFD4;
	--cafi5:#E4D7CA;
	--cafi6:#DFCFBF;
	--cafi7:#D9C7B4;
	--cafi8:#D4BFA9;
	--cafi9:#878582;
	--cafi10:#8F8984;
	--cafi11:#968E86;
	--cafi12:#9D9388;
	--cafi13:#A5988A;
	--cafi14:#AC9C8C;
	--cafi15:#B3A18E;
	--cafi16:#BAA690;
	--cafi17:#A18C76;
	--cafi18:#8D7B68;
	--cafi19:#796959;
	--cafi20:#65584A;
	--cafi21:#50463B;
	--cafi22:#3C352C;
	--cafi23:#28231E;
	--cafi24:#14120F;
}